<div class="row">
  <div class="col-sm-12"><app-titulo [titulo]="titulo"></app-titulo></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2" *ngFor="let perfil of perfiles">
    <app-perfil
      [nombre]="perfil.nombrePerfil"
      [urlImagen]="'/assets/imagenes/'+perfil.nombreImagen"
      (seleccionoCuenta)="irACuenta($event)"
    >

    </app-perfil>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <app-boton
      [nombreBoton] = "nombreBoton"
      (dioClick)="irAAdministrarPerfiles()"
    >

    </app-boton></div>
  <div class="col-sm-4"></div>
</div>

<!--
<div class="container">
  <h1>interpolacion</h1>
  <p>Mi nombre es {{nombre +' '+apellido}}</p>
  <P>2+2 es igual a {{2+2}}</P>
  <h1>directivas</h1>
  <h2>NgIf</h2>
  <p>hola</p>
  <p *ngIf="!mostrar">Mundo</p>
  <h2>NgFor</h2>
  <p>Primer Numero{{arregloNumeros[0]}}</p>

  <ul>
    <li *ngFor="let numero of arregloNumeros;let indice=index">{{indice+1}}.-mi numero es :{{numero}}</li>
  </ul>

  <h1>Data bindings</h1>
  <h5>accede a las propiedades </h5>

  <img src="assets/{{nombreImagen}}" alt="" width="300">

  <img [src]="'assets/'+nombreImagen" alt="" [width]="anchoImagen">

  <h2>Events bindings(event)</h2>
  <button (click)="aumentarTamano()">Aumentar tamaño</button>

  <h2 (mouseenter)="cambiarTamanoImagen(-10)">reducir tamaño</h2>


</div>
-->
